/*header*/

header{
    .imagenlogo{
        list-style: none;
      }
    .navbar{
  
        justify-content: space-between;
        align-items: center;
        display: flex;
        font-family: $font1;
        font-size: 20px;
        margin:0 100px;
         }
        
        
}


  


/*footer*/
footer{
  
    background-color: $blancoclaro;
    @include flex(column-reverse, flex-start, flex-end);
    margin-top: 100px;
    img{
        display: flex;
        width: 10%;
         border-radius: 8px;
         margin-top: 30px;
       
       }
    
  }
